<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Araba ara</label>
    <input type="text"  class="form-control" id="filterText" placeholder="araba ismi giriniz">
  </div>
  
  
  
  <div class="row row-cols-3">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="car-img-top">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="" class="d-block w-100" alt="...">
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
        </div>
       
      </div>
    </div>
  </div>